@model CQRSInsurance.Models.IndexViewModel

<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Özelliklerimiz</h4>
            <h1 class="display-4 mb-4">Sigorta Size Daha İyi Bir Gelecek Sağlar</h1>
            <p class="mb-0">Sigorta hizmetlerimizle hayatınızı güvence altına alın. Aileniz, işiniz ve geleceğiniz için en uygun çözümleri sunuyoruz.</p>
        </div>
        <div class="row g-4">
            @foreach (var feature in Model.Features)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">

                    <div class="feature-item p-4 pt-0">

                        <div class="feature-icon p-4 mb-4">
                            <i class="@feature.Icon"></i>
                        </div>
                        <h4 class="mb-4">@feature.Title</h4>
                        <p class="mb-4">@feature.Description</p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="#">@feature.ButtonText</a>

                    </div>

                </div>
            }
        </div>
    </div>
</div>
