@model CQRSInsurance.Models.IndexViewModel

<div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Müşteri Yorumları</h4>
            <h1 class="display-4 mb-4">Bizi Tercih Edenler Ne Diyor?</h1>
            <p class="mb-0">
                Hizmetlerimizden yararlanan müşterilerimizin deneyimlerini keşfedin.
                Kaliteli hizmet anlayışımız ve müşteri memnuniyetine verdiğimiz önemle ilgili
                gerçek yorumları aşağıda bulabilirsiniz.
            </p>
        </div>


        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">
            @foreach (var testimonial in Model.Testimonials)
            {
                <div class="testimonial-item bg-light rounded">
                    <div class="row g-0">
                        <div class="col-4 col-lg-4 col-xl-3">
                            <div class="h-100">
                                <img src="@testimonial.Image" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="Müşteri Yorumu">
                            </div>
                        </div>
                        <div class="col-8 col-lg-8 col-xl-9">
                            <div class="d-flex flex-column my-auto text-start p-4">
                                <h4 class="text-dark mb-0">@testimonial.CustomerName</h4>
                                <p class="mb-3">@testimonial.JobTitle</p>
                                <div class="d-flex text-primary mb-3">
                                    @for (int i = 0; i < testimonial.Rating; i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                </div>
                                <p class="mb-0">@testimonial.Comment</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
