<meta charset="utf-8">
<title>LifeSure - Hayat Sigortası Web Sitesi Şablonu</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Hayat sigortası, finansal güvenlik, bireysel sigorta çözümleri" name="keywords">
<meta content="Hayat sigortası ihtiyaçlarınız için modern bir web sitesi çözümü." name="description">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;400;700&family=Inter:wght@100;400;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="~/Sigorta/lib/animate/animate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="~/Sigorta/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<link href="~/Sigorta/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/Sigorta/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Sigorta/css/style.css" rel="stylesheet">
<link href="~/Sigorta/css/style.css" rel="stylesheet">